.movie-container {
    padding: 15px;
    background-color: rgb(65, 61, 61);
}

#participants li a {
    text-decoration: none;
}

#participants {
    padding: 0;
    margin-bottom: 10px;
    list-style-type: none;
}

#movieLink {
    text-decoration: none;
}